<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="2afc1851-c193-445e-b825-8d714ff5b94a" Alias="register" Level="2">
  <Info>
    <Name>Register</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Athletes+Assessment</Folder>
    <Compositions>
      <Composition Key="ec6b6f84-7a35-4be7-a184-5ba690fcbfb6">contentBase</Composition>
      <Composition Key="3da199fa-1b2a-4668-abd8-cb53cf74f60b">navigationBase</Composition>
    </Compositions>
    <DefaultTemplate>Register</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="9e4b814d-0d9a-4b91-895a-74302598fe2e">Register</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>df7d2778-4dec-4ac3-bed5-8e317109040a</Key>
      <Name>Address Title</Name>
      <Alias>addressTitle</Alias>
      <Definition>e90e65f2-c3e9-4974-80d2-b1edcf0d6cad</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>5</SortOrder>
      <Tab>Form Titles</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>31ed728a-444d-4f17-b04d-ad116b7c0c12</Key>
      <Name>Confirm Password Title</Name>
      <Alias>confirmPasswordTitle</Alias>
      <Definition>cc33fd98-71a1-41a7-9a56-097cc6a81583</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>Form Titles</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>7a5fc635-736f-4b79-a7ac-92afc3a3a7df</Key>
      <Name>Display Name Title</Name>
      <Alias>displayNameTitle</Alias>
      <Definition>4b9955f9-f6de-4cb2-9412-006a9069718e</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Form Titles</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>368e33f2-8580-419c-b49c-1c93b26a9790</Key>
      <Name>Email Title</Name>
      <Alias>emailTitle</Alias>
      <Definition>371b67af-0319-40be-9be7-3b856e97d2c8</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Form Titles</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>e4e1a4d4-8ed5-4e62-8618-fbf975006123</Key>
      <Name>Password Title</Name>
      <Alias>passwordTitle</Alias>
      <Definition>cc33fd98-71a1-41a7-9a56-097cc6a81583</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Form Titles</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>2f7b5a8d-b637-46fc-a4b4-b0e031c09d3c</Key>
      <Name>Phone Title</Name>
      <Alias>phoneTitle</Alias>
      <Definition>e90e65f2-c3e9-4974-80d2-b1edcf0d6cad</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>6</SortOrder>
      <Tab>Form Titles</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>9fa24ff0-7e32-4160-99a5-ab9a07c3ea17</Key>
      <Name>User Name Title</Name>
      <Alias>userNameTitle</Alias>
      <Definition>e90e65f2-c3e9-4974-80d2-b1edcf0d6cad</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Form Titles</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Form Titles</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>