<?xml version="1.0" encoding="utf-8"?>
<DataType Key="62af9d3b-9133-4b31-beaf-36f56632aa5b" Alias="Assessment - Physiotherapist - Multinode Treepicker" Level="1">
  <Info>
    <Name>Assessment - Physiotherapist - Multinode Treepicker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <SortOrder>78</SortOrder>
  </Info>
  <Config><![CDATA[{
  "TreeSource": {
    "type": "content",
    "query": null,
    "id": "umb://document/dfada13f6d514e09a41882e1147bb0fc"
  },
  "Filter": "physiotherapist",
  "MinNumber": 1,
  "MaxNumber": 1,
  "ShowOpen": false,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>