<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d0065f07-997a-4d0b-9d63-a80c5edd05e7" Alias="Assessment - Content Picker (1)" Level="1">
  <Info>
    <Name>Assessment - Content Picker (1)</Name>
    <EditorAlias>Umbraco.ContentPicker</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <SortOrder>75</SortOrder>
  </Info>
  <Config><![CDATA[{
  "ShowOpenButton": false,
  "StartNodeId": "umb://document/d0071cc180f444f9a171494d13048e30",
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>