<?xml version="1.0" encoding="utf-8"?>
<DataType Key="49f466da-36db-413d-9d40-8f56676ce76d" Alias="Assessment - Treatment Suggested - Textarea" Level="1">
  <Info>
    <Name>Assessment - Treatment Suggested - Textarea</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <SortOrder>72</SortOrder>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 2048,
  "Rows": null
}]]></Config>
</DataType>