<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a5301bb5-95d7-4b2f-8450-6af2ff833a91" Alias="Assessment - Date - DateTime" Level="1">
  <Info>
    <Name>Assessment - Date - DateTime</Name>
    <EditorAlias>Umbraco.DateTime</EditorAlias>
    <DatabaseType>Date</DatabaseType>
    <SortOrder>68</SortOrder>
  </Info>
  <Config><![CDATA[{
  "Format": "YYYY-MM-DD",
  "OffsetTime": false
}]]></Config>
</DataType>