<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6f7ee464-3333-4970-80fc-a928ccc80694" Alias="Assessment - Injury Severity - Dropdown" Level="1">
  <Info>
    <Name>Assessment - Injury Severity - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <SortOrder>70</SortOrder>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "Items": [
    {
      "id": 1,
      "value": "Severe"
    },
    {
      "id": 2,
      "value": "High"
    },
    {
      "id": 3,
      "value": "Moderate"
    },
    {
      "id": 4,
      "value": "Low"
    }
  ]
}]]></Config>
</DataType>