<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d8a88fc6-7599-4d42-9272-251291faa902" Alias="Assessment - Physio - Multinode Treepicker (1)" Level="1">
  <Info>
    <Name>Assessment - Physio - Multinode Treepicker (1)</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <SortOrder>77</SortOrder>
  </Info>
  <Config><![CDATA[{
  "TreeSource": {
    "type": "content",
    "query": null,
    "id": "umb://document/dfada13f6d514e09a41882e1147bb0fc"
  },
  "Filter": "physiotherapist",
  "MinNumber": 1,
  "MaxNumber": 1,
  "ShowOpen": false,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>