<?xml version="1.0" encoding="utf-8"?>
<DataType Key="578948d1-f01f-4ca3-a658-2142f624279b" Alias="Assessment - Injury Assessment - Textarea" Level="1">
  <Info>
    <Name>Assessment - Injury Assessment - Textarea</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <SortOrder>71</SortOrder>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 2048,
  "Rows": null
}]]></Config>
</DataType>