<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c525eece-2db0-4f70-87b1-c4b329c9e26e" Alias="Assessment - Injury Type - Dropdown" Level="1">
  <Info>
    <Name>Assessment - Injury Type - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <SortOrder>69</SortOrder>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "Items": [
    {
      "id": 1,
      "value": "Fracture"
    },
    {
      "id": 2,
      "value": "Bleeding"
    },
    {
      "id": 3,
      "value": "Muscular Injury"
    },
    {
      "id": 4,
      "value": "Others"
    }
  ]
}]]></Config>
</DataType>