<?xml version="1.0" encoding="utf-8"?>
<DataType Key="99cd9077-d011-44ae-8c6c-533ed798cada" Alias="Athlete - Name" Level="1">
  <Info>
    <Name>Athlete - Name</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <SortOrder>56</SortOrder>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 100
}]]></Config>
</DataType>