<?xml version="1.0" encoding="utf-8"?>
<DataType Key="13e575b5-b7dd-4af3-a68e-0ba80bcdc2ed" Alias="Athlete - Date Of Birth" Level="1">
  <Info>
    <Name>Athlete - Date Of Birth</Name>
    <EditorAlias>Umbraco.DateTime</EditorAlias>
    <DatabaseType>Date</DatabaseType>
    <SortOrder>57</SortOrder>
  </Info>
  <Config><![CDATA[{
  "Format": "DD-MM-YYYY",
  "OffsetTime": true
}]]></Config>
</DataType>