<?xml version="1.0" encoding="utf-8"?>
<DataType Key="21668fcc-339e-43cc-a99f-b9304e96c7f7" Alias="Athletes List - Body Text - Textbox" Level="1">
  <Info>
    <Name>Athletes List - Body Text - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <SortOrder>81</SortOrder>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 500
}]]></Config>
</DataType>