<?xml version="1.0" encoding="utf-8"?>
<DataType Key="38fbbf40-6b85-40fd-8ffd-7556bc02b065" Alias="Athlete - Gender - Dropdown" Level="1">
  <Info>
    <Name>Athlete - Gender - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <SortOrder>60</SortOrder>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "Items": [
    {
      "id": 1,
      "value": "Male"
    },
    {
      "id": 2,
      "value": "Female"
    },
    {
      "id": 3,
      "value": "Prefer not to mention"
    }
  ]
}]]></Config>
</DataType>