<?xml version="1.0" encoding="utf-8"?>
<DataType Key="63b7181a-91d3-4c5e-8ded-166e3c773a79" Alias="Athlete - Athlete Name - Textbox" Level="1">
  <Info>
    <Name>Athlete - Athlete Name - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <SortOrder>58</SortOrder>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 100
}]]></Config>
</DataType>