<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c4e31273-1a8d-4032-bd76-52b14336eea5" Alias="Deploy Another Document Type - NewProp - Label  Test" Level="1">
  <Info>
    <Name>Deploy Another Document Type - NewProp - Label  Test</Name>
    <EditorAlias>Umbraco.Label</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <SortOrder>87</SortOrder>
  </Info>
  <Config><![CDATA[{
  "ValueType": "STRING"
}]]></Config>
</DataType>