<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1f0b00a8-3af3-41e7-af7c-e9af57d06555" Alias="001_DocType - EditProp - Textbox" Level="1">
  <Info>
    <Name>001_DocType - EditProp - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <SortOrder>90</SortOrder>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 20
}]]></Config>
</DataType>