<?xml version="1.0" encoding="utf-8"?>
<DataType Key="62139577-6047-44b0-8817-9d549df22366" Alias="001_DocType - 002_Prop - Checkbox" Level="1">
  <Info>
    <Name>001_DocType - 002_Prop - Checkbox</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
    <SortOrder>88</SortOrder>
  </Info>
  <Config><![CDATA[{
  "Default": "1",
  "Label": "23134"
}]]></Config>
</DataType>