<?xml version="1.0" encoding="utf-8"?>
<DataType Key="8248659d-9ad2-4386-82af-1fd21b4a1db3" Alias="HomePage - Welcome Message - Label" Level="1">
  <Info>
    <Name>HomePage - Welcome Message - Label</Name>
    <EditorAlias>Umbraco.Label</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <SortOrder>31</SortOrder>
  </Info>
  <Config><![CDATA[{
  "ValueType": "STRING"
}]]></Config>
</DataType>