<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7ef4a18c-6550-48eb-b3e7-7191b60828da" Alias="HomePage - Footer Text - Textbox" Level="1">
  <Info>
    <Name>HomePage - Footer Text - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <SortOrder>34</SortOrder>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 500
}]]></Config>
</DataType>