<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ba6642f9-d368-44b6-9af6-5e45f45605f9" Alias="HomePage - Body Text - Rich Text Editor" Level="1">
  <Info>
    <Name>HomePage - Body Text - Rich Text Editor</Name>
    <EditorAlias>Umbraco.TinyMCE</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <SortOrder>33</SortOrder>
  </Info>
  <Config><![CDATA[{
  "Editor": {
    "toolbar": [
      "ace",
      "styleselect",
      "bold",
      "italic",
      "underline",
      "alignleft",
      "aligncenter",
      "alignright",
      "bullist",
      "numlist",
      "outdent",
      "indent",
      "link",
      "umbmediapicker",
      "umbmacro",
      "umbembeddialog"
    ],
    "stylesheets": [],
    "maxImageSize": 500,
    "mode": "classic",
    "dimensions": {
      "width": 1200,
      "height": 800
    }
  },
  "HideLabel": false,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>