<?xml version="1.0" encoding="utf-8"?>
<DataType Key="cc33fd98-71a1-41a7-9a56-097cc6a81583" Alias="Login - Password - Textbox" Level="1">
  <Info>
    <Name>Login - Password - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <SortOrder>30</SortOrder>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 50
}]]></Config>
</DataType>