<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5b19f8c1-5468-45d0-a9aa-3911259a935e" Alias="Login - User Name - Textbox" Level="1">
  <Info>
    <Name>Login - User Name - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <SortOrder>29</SortOrder>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 50
}]]></Config>
</DataType>