<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f20704de-1888-46ad-bcba-dd0aa8951ded" Alias="NewDoc - Textbox" Level="1">
  <Info>
    <Name>NewDoc - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <SortOrder>89</SortOrder>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 10
}]]></Config>
</DataType>