<?xml version="1.0" encoding="utf-8"?>
<DataType Key="61b5227e-2b1c-43c8-8582-c42812b26c1a" Alias="Physiotherapist - Clinic Name - Textbox" Level="1">
  <Info>
    <Name>Physiotherapist - Clinic Name - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <SortOrder>64</SortOrder>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 256
}]]></Config>
</DataType>