<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4a025ac8-4a57-4673-88c8-450e04ccc523" Alias="Physiotherapist - Email - Textbox" Level="1">
  <Info>
    <Name>Physiotherapist - Email - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <SortOrder>67</SortOrder>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 128
}]]></Config>
</DataType>