<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f8dd06e2-f26b-4e52-ac97-fcff4f00ed5f" Alias="Physiotherapist - Phone - Textbox" Level="1">
  <Info>
    <Name>Physiotherapist - Phone - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <SortOrder>66</SortOrder>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 10
}]]></Config>
</DataType>