<?xml version="1.0" encoding="utf-8"?>
<DataType Key="879f06e7-ad14-41f0-ab0f-4474d498ea1b" Alias="Physiotherapist - Address - Textarea" Level="1">
  <Info>
    <Name>Physiotherapist - Address - Textarea</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <SortOrder>62</SortOrder>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 256,
  "Rows": 4
}]]></Config>
</DataType>