<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a70e7ec3-8c82-4d48-9d95-2af73714e849" Alias="Register - Email Title - Email address" Level="1">
  <Info>
    <Name>Register - Email Title - Email address</Name>
    <EditorAlias>Umbraco.EmailAddress</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <SortOrder>85</SortOrder>
  </Info>
  <Config><![CDATA[{
  "IsRequired": false
}]]></Config>
</DataType>