<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4b9955f9-f6de-4cb2-9412-006a9069718e" Alias="Register - Display Name - Textbox" Level="1">
  <Info>
    <Name>Register - Display Name - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <SortOrder>83</SortOrder>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 100
}]]></Config>
</DataType>