<?xml version="1.0" encoding="utf-8"?>
<DataType Key="371b67af-0319-40be-9be7-3b856e97d2c8" Alias="Register - Email Title - Textbox" Level="1">
  <Info>
    <Name>Register - Email Title - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <SortOrder>86</SortOrder>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 100
}]]></Config>
</DataType>