<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="55d6fc8f-fa39-44cf-b158-8b5e36bb5782" Alias="people" Level="1">
  <Info>
    <Name>People</Name>
    <Icon>icon-user-females-alt color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions>
      <Composition Key="ec6b6f84-7a35-4be7-a184-5ba690fcbfb6">contentBase</Composition>
      <Composition Key="3da199fa-1b2a-4668-abd8-cb53cf74f60b">navigationBase</Composition>
    </Compositions>
    <DefaultTemplate>people</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="796fbc3f-1904-4dac-8523-13f48c48456e">people</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="85c4bc44-c8ee-4493-afbb-373107443e90">person</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>6151701e-3a22-4d16-869e-816b880b82f6</Key>
      <Name>Featured People</Name>
      <Alias>featuredPeople</Alias>
      <Definition>4885450e-a60f-42bb-984a-43988baf5283</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>