<?xml version="1.0" encoding="utf-8"?>
<contentPage Key="badd3b02-1642-4f4d-8aab-dcc2cd6215bb" Alias="Dashboard" Level="2">
  <Info>
    <Parent Key="ca4249ed-2b23-4337-b522-63cabe5587d1">Home12</Parent>
    <Path>/Home12/Dashboard</Path>
    <Trashed>false</Trashed>
    <NodeName Default="Dashboard" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
  </Info>
  <Properties>
    <bodyText>
      <Value>{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "allowAll": true,
      "rows": [
        {
          "name": "FullWidth",
          "areas": [
            {
              "grid": 12,
              "allowAll": true,
              "hasConfig": false,
              "controls": [
                {
                  "value": {
                    "macroAlias": "GetMyAthletes",
                    "macroParamsDictionary": {
                      "maxAthletesToDisplay": "5"
                    }
                  },
                  "editor": {
                    "name": "Macro",
                    "alias": "macro",
                    "view": "macro",
                    "render": null,
                    "icon": "icon-settings-alt",
                    "config": {}
                  }
                }
              ]
            }
          ],
          "hasConfig": false,
          "id": "00c5bbf3-ccb0-6f42-8e7f-06356f44559d"
        }
      ]
    }
  ]
}</Value>
    </bodyText>
    <keywords>
      <Value>[]</Value>
    </keywords>
    <pageTitle>
      <Value>Dashboard</Value>
    </pageTitle>
    <seoMetaDescription />
    <umbracoNavihide>
      <Value>0</Value>
    </umbracoNavihide>
  </Properties>
</contentPage>