<?xml version="1.0" encoding="utf-8"?>
<docType Key="dd059f0e-96c9-4dbe-99c8-6fbc1f3fdf95" Alias="My_Published_Data" Level="2">
  <Info>
    <Parent Key="ca4249ed-2b23-4337-b522-63cabe5587d1">Home12</Parent>
    <Path>/Home12/My_Published_Data</Path>
    <Trashed>false</Trashed>
    <NodeName Default="My_Published_Data" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
  </Info>
  <Properties>
    <prop>
      <Value>1</Value>
    </prop>
  </Properties>
</docType>