<?xml version="1.0" encoding="utf-8"?>
<docType Key="04882aed-836f-413c-a81f-4d1e2c1ed379" Alias="My_Pub_D2" Level="2">
  <Info>
    <Parent Key="ca4249ed-2b23-4337-b522-63cabe5587d1">Home12</Parent>
    <Path>/Home12/My_Pub_D2</Path>
    <Trashed>false</Trashed>
    <NodeName Default="My_Pub_D2" />
    <SortOrder>8</SortOrder>
    <Published Default="true" />
    <Schedule />
  </Info>
  <Properties>
    <prop>
      <Value>0</Value>
    </prop>
  </Properties>
</docType>