<?xml version="1.0" encoding="utf-8"?>
<register Key="7f3eb238-f5d3-40c3-b192-8f5e111936ec" Alias="Register" Level="2">
  <Info>
    <Parent Key="ca4249ed-2b23-4337-b522-63cabe5587d1">Home12</Parent>
    <Path>/Home12/Register</Path>
    <Trashed>false</Trashed>
    <NodeName Default="Register" />
    <SortOrder>7</SortOrder>
    <Published Default="true" />
    <Schedule />
  </Info>
  <Properties>
    <addressTitle>
      <Value>Address</Value>
    </addressTitle>
    <bodyText>
      <Value>{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "allowAll": true,
      "rows": []
    }
  ]
}</Value>
    </bodyText>
    <confirmPasswordTitle>
      <Value>Confirm Password</Value>
    </confirmPasswordTitle>
    <displayNameTitle>
      <Value>Display Name</Value>
    </displayNameTitle>
    <emailTitle>
      <Value>Email</Value>
    </emailTitle>
    <keywords>
      <Value>[]</Value>
    </keywords>
    <pageTitle>
      <Value>Register</Value>
    </pageTitle>
    <passwordTitle>
      <Value>Password</Value>
    </passwordTitle>
    <phoneTitle>
      <Value>Phone</Value>
    </phoneTitle>
    <seoMetaDescription />
    <umbracoNavihide>
      <Value>0</Value>
    </umbracoNavihide>
    <userNameTitle>
      <Value>User Name</Value>
    </userNameTitle>
  </Properties>
</register>