<?xml version="1.0" encoding="utf-8"?>
<docType Key="97887adb-933d-4a92-aa90-4d2eb2ea1839" Alias="TestEntity02" Level="2">
  <Info>
    <Parent Key="ca4249ed-2b23-4337-b522-63cabe5587d1">Home12</Parent>
    <Path>/Home12/TestEntity02</Path>
    <Trashed>false</Trashed>
    <NodeName Default="TestEntity02" />
    <SortOrder>9</SortOrder>
    <Published Default="true" />
    <Schedule />
  </Info>
  <Properties>
    <editProp>
      <Value>This is Entity 2</Value>
    </editProp>
  </Properties>
</docType>