<?xml version="1.0" encoding="utf-8"?>
<docType Key="0097e867-c6b0-4de9-956b-688fdf93b13e" Alias="TestEntity01" Level="2">
  <Info>
    <Parent Key="ca4249ed-2b23-4337-b522-63cabe5587d1">Home12</Parent>
    <Path>/Home12/TestEntity01</Path>
    <Trashed>false</Trashed>
    <NodeName Default="TestEntity01" />
    <SortOrder>8</SortOrder>
    <Published Default="true" />
    <Schedule />
  </Info>
  <Properties>
    <editProp>
      <Value>This is Entity 1</Value>
    </editProp>
  </Properties>
</docType>