@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.Physiotherapist>
@using ContentModels = Umbraco.Web.PublishedModels;

<div>
    <ul>
        <li>
            @Model.Value("physio_name")
        </li>
    </ul>
</div>