@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.Register>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
    Layout = "master.cshtml";
}
@Html.Partial("~/Views/Partials/SectionHeader.cshtml")
<section class="section" style="background-color:silver">
    <div class="container">
        @{ Html.RenderAction("RenderRegistration", "Member"); }
    </div>
</section>
