<?xml version="1.0" encoding="utf-8"?>
<Image Key="b76ddb4e-e603-4014-9906-6087984740ec" Alias="Bowling Ball" Level="2">
  <Info>
    <Parent Key="6d5bf746-cb82-45c5-bd15-dd3798209b87">Products</Parent>
    <Path>/Products/BowlingBall</Path>
    <Trashed>false</Trashed>
    <NodeName Default="Bowling Ball" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoBytes>
      <Value>222536</Value>
    </umbracoBytes>
    <umbracoExtension>
      <Value>jpg</Value>
    </umbracoExtension>
    <umbracoFile>
      <Value>{"src":"/media/b76ddb4ee603401499066087984740ec/00000006000000000000000000000000/5852022091_87c5d045ab_b.jpg","focalPoint":null,"crops":null}</Value>
    </umbracoFile>
    <umbracoHeight>
      <Value>1024</Value>
    </umbracoHeight>
    <umbracoWidth>
      <Value>684</Value>
    </umbracoWidth>
  </Properties>
</Image>