<?xml version="1.0" encoding="utf-8"?>
<Image Key="46a025d6-095a-4b14-8b96-1b59ca4e951c" Alias="Jumpsuit" Level="2">
  <Info>
    <Parent Key="6d5bf746-cb82-45c5-bd15-dd3798209b87">Products</Parent>
    <Path>/Products/Jumpsuit</Path>
    <Trashed>false</Trashed>
    <NodeName Default="Jumpsuit" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoBytes>
      <Value>369611</Value>
    </umbracoBytes>
    <umbracoExtension>
      <Value>jpg</Value>
    </umbracoExtension>
    <umbracoFile>
      <Value>{"src":"/media/46a025d6095a4b148b961b59ca4e951c/00000006000000000000000000000000/7377957524_347859faac_b.jpg","focalPoint":null,"crops":null}</Value>
    </umbracoFile>
    <umbracoHeight>
      <Value>1024</Value>
    </umbracoHeight>
    <umbracoWidth>
      <Value>683</Value>
    </umbracoWidth>
  </Properties>
</Image>