<?xml version="1.0" encoding="utf-8"?>
<Image Key="c09ec77f-08e3-466a-ac58-c979befd3cd6" Alias="Ping Pong Ball" Level="2">
  <Info>
    <Parent Key="6d5bf746-cb82-45c5-bd15-dd3798209b87">Products</Parent>
    <Path>/Products/PingPongBall</Path>
    <Trashed>false</Trashed>
    <NodeName Default="Ping Pong Ball" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoBytes>
      <Value>205417</Value>
    </umbracoBytes>
    <umbracoExtension>
      <Value>jpg</Value>
    </umbracoExtension>
    <umbracoFile>
      <Value>{"src":"/media/c09ec77f08e3466aac58c979befd3cd6/00000006000000000000000000000000/5852022211_9028df67c0_b.jpg","focalPoint":null,"crops":null}</Value>
    </umbracoFile>
    <umbracoHeight>
      <Value>683</Value>
    </umbracoHeight>
    <umbracoWidth>
      <Value>1024</Value>
    </umbracoWidth>
  </Properties>
</Image>