<?xml version="1.0" encoding="utf-8"?>
<Image Key="20e3a8ff-ad1b-4fe9-b48c-b8461c46d2d0" Alias="Tattoo" Level="2">
  <Info>
    <Parent Key="6d5bf746-cb82-45c5-bd15-dd3798209b87">Products</Parent>
    <Path>/Products/Tattoo</Path>
    <Trashed>false</Trashed>
    <NodeName Default="Tattoo" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoBytes>
      <Value>258796</Value>
    </umbracoBytes>
    <umbracoExtension>
      <Value>jpg</Value>
    </umbracoExtension>
    <umbracoFile>
      <Value>{"src":"/media/20e3a8ffad1b4fe9b48cb8461c46d2d0/00000006000000000000000000000000/7371127652_e01b6ab56f_b.jpg","focalPoint":null,"crops":null}</Value>
    </umbracoFile>
    <umbracoHeight>
      <Value>1024</Value>
    </umbracoHeight>
    <umbracoWidth>
      <Value>683</Value>
    </umbracoWidth>
  </Properties>
</Image>