<?xml version="1.0" encoding="utf-8"?>
<Image Key="662af6ca-411a-4c93-a6c7-22c4845698e7" Alias="Umbraco Campari Meeting Room" Level="2">
  <Info>
    <Parent Key="b6f11172-373f-4473-af0f-0b0e5aefd21c">Design</Parent>
    <Path>/Design/UmbracoCampariMeetingRoom</Path>
    <Trashed>false</Trashed>
    <NodeName Default="Umbraco Campari Meeting Room" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoBytes>
      <Value>759116</Value>
    </umbracoBytes>
    <umbracoExtension>
      <Value>jpg</Value>
    </umbracoExtension>
    <umbracoFile>
      <Value>{"src":"/media/662af6ca411a4c93a6c722c4845698e7/00000006000000000000000000000000/16403439029_f500be349b_o.jpg","focalPoint":null,"crops":null}</Value>
    </umbracoFile>
    <umbracoHeight>
      <Value>1067</Value>
    </umbracoHeight>
    <umbracoWidth>
      <Value>1600</Value>
    </umbracoWidth>
  </Properties>
</Image>