<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="7adc8d09-c665-45de-a4e6-e4214c6f7e6b" Alias="homePage" Level="2">
  <Info>
    <Name>HomePage</Name>
    <Icon>icon-home color-light-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>WebSite</Folder>
    <Compositions />
    <DefaultTemplate>HomePage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="c8108647-ef5f-41df-989a-5c0f24ee675f">HomePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>b7f4028f-2bc5-42ef-966b-43dd2eb88459</Key>
      <Name>Body Text</Name>
      <Alias>bodyText</Alias>
      <Definition>ba6642f9-d368-44b6-9af6-5e45f45605f9</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The main content of the page]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Welcome Message</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>6368d400-d0aa-480f-8ae3-f3a9213e3752</Key>
      <Name>Footer Text</Name>
      <Alias>footerText</Alias>
      <Definition>7ef4a18c-6550-48eb-b3e7-7191b60828da</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Copyright notice for the footer]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Welcome Message</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>b9a8a3e9-cbff-4d3b-a4a1-4bdcc7b29af6</Key>
      <Name>Page Title</Name>
      <Alias>pageTitle</Alias>
      <Definition>f4a4a751-fcec-47e9-801b-664581aa4b7d</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Welcome Message</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>1c65e1d0-1c0b-4153-a1af-57be14ed2200</Key>
      <Name>Welcome Message</Name>
      <Alias>welcomeMessage</Alias>
      <Definition>8248659d-9ad2-4386-82af-1fd21b4a1db3</Definition>
      <Type>Umbraco.Label</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Welcome Message]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Welcome Message</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Welcome Message</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>