<?xml version="1.0" encoding="utf-8"?>
<Folder Key="6d5bf746-cb82-45c5-bd15-dd3798209b87" Alias="Products" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Products</Path>
    <Trashed>false</Trashed>
    <NodeName Default="Products" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties />
</Folder>