<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="3e0194fb-21bb-49a2-8dec-8d54a827d22b" Alias="contentPage" Level="1">
  <Info>
    <Name>Content Page</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions>
      <Composition Key="ec6b6f84-7a35-4be7-a184-5ba690fcbfb6">contentBase</Composition>
      <Composition Key="3da199fa-1b2a-4668-abd8-cb53cf74f60b">navigationBase</Composition>
    </Compositions>
    <DefaultTemplate>contentPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="4f036cb6-bd30-4c61-bc6d-3ed1cfa0bcf4">contentPage</Template>
      <Template Key="68717349-be94-48a2-8601-8148a2afa173">Login</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="3e0194fb-21bb-49a2-8dec-8d54a827d22b">contentPage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>