<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="65764a10-0532-4f46-8131-d5a74b86e2c0" Alias="newDoc" Level="1">
  <Info>
    <Name>NewDoc</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions />
    <DefaultTemplate>NewDoc</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="876fe40b-b35f-4bb2-a613-3c56407d0b56">NewDoc</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>8ed72cc9-ec13-4bed-8a9b-4eb6f109edfe</Key>
      <Name>testProp</Name>
      <Alias>testProp</Alias>
      <Definition>f20704de-1888-46ad-bcba-dd0aa8951ded</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>test</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>test</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>