<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="a551daa0-c6ea-4661-89c7-a2100c9d5a26" Alias="assessment" Level="2">
  <Info>
    <Name>Assessment</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Athletes+Assessment</Folder>
    <Compositions />
    <DefaultTemplate>assessment</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="ba4befc3-fcd1-4850-861c-7ac8d3c072da">assessment</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>d63492da-aaeb-4495-bb99-a06a018df3a6</Key>
      <Name>Date</Name>
      <Alias>date</Alias>
      <Definition>a5301bb5-95d7-4b2f-8450-6af2ff833a91</Definition>
      <Type>Umbraco.DateTime</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Assessment Date]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Detail</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>fa86b467-c13b-4022-acb8-464069004946</Key>
      <Name>Injury Assessment</Name>
      <Alias>injuryAssessment</Alias>
      <Definition>578948d1-f01f-4ca3-a658-2142f624279b</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Detail</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>aa3e9f8f-4b0b-4ea6-b5af-d966dc065cb3</Key>
      <Name>Injury Severity</Name>
      <Alias>injurySeverity</Alias>
      <Definition>6f7ee464-3333-4970-80fc-a928ccc80694</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Detail</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>a98b1e50-4f7d-48e9-89d1-fad619aa88c7</Key>
      <Name>Injury Type</Name>
      <Alias>injuryType</Alias>
      <Definition>c525eece-2db0-4f70-87b1-c4b329c9e26e</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Detail</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>12c84b3d-4475-42bc-8cba-e29422da8a9a</Key>
      <Name>Physiotherapist</Name>
      <Alias>physiotherapist</Alias>
      <Definition>62af9d3b-9133-4b31-beaf-36f56632aa5b</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>5</SortOrder>
      <Tab>Detail</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>103c3985-40b2-493f-bfc8-def479b1ebc3</Key>
      <Name>Treatment Suggested</Name>
      <Alias>treatmentSuggested</Alias>
      <Definition>49f466da-36db-413d-9d40-8f56676ce76d</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>Detail</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Detail</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>