<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="5ddea80a-746d-4578-a81a-b0d27c4cd39a" Alias="athlete" Level="2">
  <Info>
    <Name>Athlete</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Athletes+Assessment</Folder>
    <Compositions>
      <Composition Key="ec6b6f84-7a35-4be7-a184-5ba690fcbfb6">contentBase</Composition>
      <Composition Key="3da199fa-1b2a-4668-abd8-cb53cf74f60b">navigationBase</Composition>
    </Compositions>
    <DefaultTemplate>Athlete</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="d886325a-6a37-42fc-86a6-695c4b3c617e">Athlete</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="a551daa0-c6ea-4661-89c7-a2100c9d5a26">assessment</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>c132660d-8843-4bc5-af8d-19b8563ae5aa</Key>
      <Name>Name</Name>
      <Alias>athleteName</Alias>
      <Definition>63b7181a-91d3-4c5e-8ded-166e3c773a79</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Athlete Name]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Personal</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>2d228c6f-15a6-4bff-9144-79a22c5ed10e</Key>
      <Name>Date Of Birth</Name>
      <Alias>dateOfBirth</Alias>
      <Definition>13e575b5-b7dd-4af3-a68e-0ba80bcdc2ed</Definition>
      <Type>Umbraco.DateTime</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Personal</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>75487d56-eab7-432c-ba10-c84160db018f</Key>
      <Name>Gender</Name>
      <Alias>gender</Alias>
      <Definition>38fbbf40-6b85-40fd-8ffd-7556bc02b065</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>Personal</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>09b3de2e-8f08-49ef-a8a2-8a694a69f466</Key>
      <Name>Sport Type</Name>
      <Alias>sportType</Alias>
      <Definition>c753ac86-56c2-4d1a-b0a4-35fb2a2beeea</Definition>
      <Type>Umbraco.CheckBoxList</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Personal</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Personal</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>