<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="daf20ddb-bdc9-4c21-b349-b26c8d92ad35" Alias="athletesAssessment" Level="2">
  <Info>
    <Name>Athletes Assessment</Name>
    <Icon>icon-medicine color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Athletes+Assessment</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>