<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="2c72a07b-1112-41be-9cef-8983032cd849" Alias="athletesList" Level="2">
  <Info>
    <Name>Athletes List</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Athletes+Assessment</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="5ddea80a-746d-4578-a81a-b0d27c4cd39a">athlete</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>cd50df74-b2ab-4c66-82b5-44a42efc56e0</Key>
      <Name>Body Text</Name>
      <Alias>bodyText</Alias>
      <Definition>21668fcc-339e-43cc-a99f-b9304e96c7f7</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>70a75118-fc61-4b3a-9937-d84f8d309a47</Key>
      <Name>Page Title</Name>
      <Alias>pageTitle</Alias>
      <Definition>05ab1a18-9477-4df9-af96-44309fccffda</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>