<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="a9db7d0b-835a-447d-8d5c-e6f3a2b56142" Alias="data" Level="2">
  <Info>
    <Name>Data</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Athletes+Assessment</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="b70b4f28-f6ba-49f9-9e5a-8116bb2bbdfd">physiotherapists</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>