<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="8e38d048-d551-49f3-b479-9c7419c3fb8d" Alias="deployAnotherDocumentType" Level="2">
  <Info>
    <Name>Deploy Another Document Type</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Athletes+Assessment</Folder>
    <Compositions />
    <DefaultTemplate>DeployAnotherDocumentType</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="014a3860-3ea8-43b2-87ce-473bce533a3f">DeployAnotherDocumentType</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>6535ad97-74cf-4c25-b9ed-7e09526759cd</Key>
      <Name>propToDeploy</Name>
      <Alias>propToDeploy</Alias>
      <Definition>a5301bb5-95d7-4b2f-8450-6af2ff833a91</Definition>
      <Type>Umbraco.DateTime</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Some new props</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Some new props</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>