<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="7bb7e7cc-927f-4d60-b022-1281f48ef223" Alias="docType" Level="2">
  <Info>
    <Name>001_DocType</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Athletes+Assessment</Folder>
    <Compositions />
    <DefaultTemplate>001_DocType</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="2cc3ffe7-dd1a-482f-97f5-10668a804d7c">001_DocType</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>524c7e21-f770-4d18-ad96-ae6975d4c403</Key>
      <Name>EditProp</Name>
      <Alias>editProp</Alias>
      <Definition>1f0b00a8-3af3-41e7-af7c-e9af57d06555</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>TEst222</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>TEst222</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>