<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="7bb7e7cc-927f-4d60-b022-1281f48ef223" Alias="docType" Level="2">
  <Info>
    <Name>001_DocType</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Athletes+Assessment</Folder>
    <Compositions />
    <DefaultTemplate>001_DocType</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="2cc3ffe7-dd1a-482f-97f5-10668a804d7c">001_DocType</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>106a942c-3e50-4117-9955-dd644abf08ed</Key>
      <Name>002_Prop</Name>
      <Alias>prop</Alias>
      <Definition>62139577-6047-44b0-8817-9d549df22366</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>TEst222</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>TEst222</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>