<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="2afec05e-f80b-4c62-a1ff-f1056e3febe8" Alias="physiotherapist" Level="2">
  <Info>
    <Name>Physiotherapist</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Athletes+Assessment</Folder>
    <Compositions />
    <DefaultTemplate>Physiotherapist</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="5ac5b81a-24a5-4cad-947a-88106dc661f6">Physiotherapist</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="5ddea80a-746d-4578-a81a-b0d27c4cd39a">athlete</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>27d9be72-f557-4ce9-8e1d-b4fc3a28ccf9</Key>
      <Name>Clinic Name</Name>
      <Alias>clinicName</Alias>
      <Definition>61b5227e-2b1c-43c8-8582-c42812b26c1a</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Details</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>44a9bc43-f2c6-4f2d-8c70-7c23643d2f92</Key>
      <Name>Address</Name>
      <Alias>physio_address</Alias>
      <Definition>a25c2326-09d8-4d38-8675-0ce1ebf3f1c6</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Details</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>31e14c5e-dd96-4012-8b99-a8033ffd51a2</Key>
      <Name>Phone</Name>
      <Alias>physio_contact</Alias>
      <Definition>f8dd06e2-f26b-4e52-ac97-fcff4f00ed5f</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation>^[0-9]*$</Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Details</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>743cd399-ca75-405b-b4f2-db9bf2162737</Key>
      <Name>Email</Name>
      <Alias>physio_email</Alias>
      <Definition>4a025ac8-4a57-4673-88c8-450e04ccc523</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation>[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+.[a-zA-Z0-9-.]+</Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>Details</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>c2fa2ee6-bcae-4eb5-8aa7-485c2b0eaec0</Key>
      <Name>Name</Name>
      <Alias>physio_name</Alias>
      <Definition>76feae41-d5b8-41b3-8b93-e1b5fcec16e0</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Details</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Details</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>