<?xml version="1.0" encoding="utf-8"?>
<Macro Key="b24bf7b9-7c5f-4dcb-90f8-8795cc83e464" Alias="GetAthlete" Level="0">
  <Name>Athlete Details</Name>
  <MacroSource>~/Views/MacroPartials/AthleteDetails.cshtml</MacroSource>
  <MacroType>PartialView</MacroType>
  <UseInEditor>true</UseInEditor>
  <DontRender>true</DontRender>
  <CachedByMember>false</CachedByMember>
  <CachedByPage>false</CachedByPage>
  <CachedDuration>0</CachedDuration>
  <Properties />
</Macro>