<?xml version="1.0" encoding="utf-8"?>
<Macro Key="c91e28be-c7f9-4004-950f-26f9e52b9458" Alias="GetMyAthletes" Level="0">
  <Name>Get My Athletes</Name>
  <MacroSource>~/Views/MacroPartials/GetMyAthletes.cshtml</MacroSource>
  <MacroType>PartialView</MacroType>
  <UseInEditor>true</UseInEditor>
  <DontRender>true</DontRender>
  <CachedByMember>false</CachedByMember>
  <CachedByPage>false</CachedByPage>
  <CachedDuration>0</CachedDuration>
  <Properties>
    <Property>
      <Name>Max Athletes To Display</Name>
      <Alias>maxAthletesToDisplay</Alias>
      <SortOrder>0</SortOrder>
      <EditorAlias>Umbraco.Integer</EditorAlias>
    </Property>
  </Properties>
</Macro>