<?xml version="1.0" encoding="utf-8"?>
<Image Key="c0969cab-13ab-4de9-819a-848619ac2b5d" Alias="Jeavon Leopold" Level="2">
  <Info>
    <Parent Key="1fd2ecaf-f371-4c00-9306-867fa4585e7a">People</Parent>
    <Path>/People/JeavonLeopold</Path>
    <Trashed>false</Trashed>
    <NodeName Default="Jeavon Leopold" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoBytes>
      <Value>348162</Value>
    </umbracoBytes>
    <umbracoExtension>
      <Value>jpg</Value>
    </umbracoExtension>
    <umbracoFile>
      <Value>{"src":"/media/c0969cab13ab4de9819a848619ac2b5d/00000006000000000000000000000000/18095416144_44a566a5f4_h.jpg","focalPoint":null,"crops":null}</Value>
    </umbracoFile>
    <umbracoHeight>
      <Value>1067</Value>
    </umbracoHeight>
    <umbracoWidth>
      <Value>1600</Value>
    </umbracoWidth>
  </Properties>
</Image>