<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6165260b-d213-46b2-a273-b8cb68b23086" Alias="Assessment - Content Picker" Level="1">
  <Info>
    <Name>Assessment - Content Picker</Name>
    <EditorAlias>Umbraco.ContentPicker</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <SortOrder>73</SortOrder>
  </Info>
  <Config><![CDATA[{
  "ShowOpenButton": false,
  "StartNodeId": "umb://document/ec4aafcc0c254f25a8fe705bfae1d324",
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>