<?xml version="1.0" encoding="utf-8"?>
<DataType Key="492e4b3b-4612-4bb1-bfd2-a8a37d02d907" Alias="Assessment - Physio - Multinode Treepicker" Level="1">
  <Info>
    <Name>Assessment - Physio - Multinode Treepicker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <SortOrder>76</SortOrder>
  </Info>
  <Config><![CDATA[{
  "TreeSource": {
    "type": "content",
    "query": null,
    "id": "umb://document/dfada13f6d514e09a41882e1147bb0fc"
  },
  "Filter": "physiotherapist",
  "MinNumber": 1,
  "MaxNumber": 1,
  "ShowOpen": false,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>