<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6d30beb5-c64e-408c-bb0c-882b21aca2cc" Alias="Athletes Assessment - Name - Textbox" Level="1">
  <Info>
    <Name>Athletes Assessment - Name - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <SortOrder>74</SortOrder>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 50
}]]></Config>
</DataType>