<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c753ac86-56c2-4d1a-b0a4-35fb2a2beeea" Alias="Athlete - Sport Type - Checkbox list" Level="1">
  <Info>
    <Name>Athlete - Sport Type - Checkbox list</Name>
    <EditorAlias>Umbraco.CheckBoxList</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <SortOrder>59</SortOrder>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "Cricket"
    },
    {
      "id": 2,
      "value": "Hockey"
    },
    {
      "id": 3,
      "value": "Squash"
    },
    {
      "id": 4,
      "value": "Tennis"
    },
    {
      "id": 5,
      "value": "Footy"
    },
    {
      "id": 6,
      "value": "Soccer"
    },
    {
      "id": 7,
      "value": "Rugby"
    },
    {
      "id": 8,
      "value": "Swimming"
    },
    {
      "id": 9,
      "value": "Running"
    }
  ]
}]]></Config>
</DataType>