<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f4a4a751-fcec-47e9-801b-664581aa4b7d" Alias="HomePage - Page Title - Textbox" Level="1">
  <Info>
    <Name>HomePage - Page Title - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <SortOrder>32</SortOrder>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 100
}]]></Config>
</DataType>