<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7c79db92-c27a-47ac-8d14-23bffacf45c2" Alias="Member - Member Data Folder - Content Picker" Level="1">
  <Info>
    <Name>Member - Member Data Folder - Content Picker</Name>
    <EditorAlias>Umbraco.ContentPicker</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <SortOrder>79</SortOrder>
  </Info>
  <Config><![CDATA[{
  "ShowOpenButton": false,
  "StartNodeId": "umb://document/df19b47914144c369f837629596a1eff",
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>