<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a25c2326-09d8-4d38-8675-0ce1ebf3f1c6" Alias="Physiotherapist - Address - Textarea (1)" Level="1">
  <Info>
    <Name>Physiotherapist - Address - Textarea (1)</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <SortOrder>65</SortOrder>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 256,
  "Rows": 4
}]]></Config>
</DataType>