<?xml version="1.0" encoding="utf-8"?>
<DataType Key="76feae41-d5b8-41b3-8b93-e1b5fcec16e0" Alias="Physiotherapist - Name - Textbox" Level="1">
  <Info>
    <Name>Physiotherapist - Name - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <SortOrder>63</SortOrder>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 128
}]]></Config>
</DataType>