<?xml version="1.0" encoding="utf-8"?>
<DataType Key="dc2adc2a-2478-4031-b148-a0996264aff4" Alias="Physiotherapist - Physio Name - Textbox" Level="1">
  <Info>
    <Name>Physiotherapist - Physio Name - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <SortOrder>61</SortOrder>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 128
}]]></Config>
</DataType>