<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="b70b4f28-f6ba-49f9-9e5a-8116bb2bbdfd" Alias="physiotherapists" Level="3">
  <Info>
    <Name>Physiotherapists Folder</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Athletes+Assessment/Folders</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="2afec05e-f80b-4c62-a1ff-f1056e3febe8">physiotherapist</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>