@using Acme.UI.Models.Athletes;

@inherits Umbraco.Web.Mvc.UmbracoViewPage<PhysioAthletesViewModel>

@if (Umbraco.MemberIsLoggedOn())
{
    if (Model != null)
    {
        <div class="welcome-message">Welcome <b>@Model.PhysioName</b></div>

        if (Model.DisplayableAthletes != null && Model.DisplayableAthletes.Count > 0)
        {
            <b>You have seen following athletes:</b>
            <ul>
                @foreach (var athlete in Model.DisplayableAthletes)
                {
                    var newUrl = Model.BaseUrl + "?id=" + athlete.Id;
                    <li><a href="@newUrl">@athlete.Name</a></li>
                }
            </ul>
        }
    }
}

