/*---------------------------------------------------
 * Shared styles
 *---------------------------------------------------*/
.shared__button-style {
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #60a3bc;
    padding: 5px 20px;
    border-radius: 50px;
    display: inline-block;
    border: none;
    transition: all 0.4s ease 0s;
}

.shared__button-style:hover {
    text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.4s ease 0s;
}

.shared__button-container {
    text-align: center;
}

/*---------------------------------------------------
 * Login page styles
 *---------------------------------------------------*/

.login__button {
    float: right;
    position: relative;
    left: -30%;
}

.login__container {
    width: 300px;
    position: relative;
    left: 35%;
}

/*---------------------------------------------------
 * Registration page styles
 *---------------------------------------------------*/
.register__container {
    width: 400px;
    position: relative;
    left: 35%;
}

.register__button {
    margin-top: 20px;
}

.register__text-area {
    height: 75px;
}
/*---------------------------------------------------
 * Dashboard styles
 *---------------------------------------------------*/
.dashboard__welcome-message {
    color: silver;
    font-size: large;
    background-color: lightgoldenrodyellow;
}
