<?xml version="1.0" encoding="utf-8"?>
<contentPage Key="d8f7b664-4e57-41e5-8012-c8262227d961" Alias="Athlete" Level="3">
  <Info>
    <Parent Key="badd3b02-1642-4f4d-8aab-dcc2cd6215bb">Dashboard</Parent>
    <Path>/Home12/Dashboard/Athlete</Path>
    <Trashed>false</Trashed>
    <NodeName Default="Athlete" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
  </Info>
  <Properties>
    <bodyText>
      <Value>{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "allowAll": true,
      "rows": [
        {
          "name": "FullWidth",
          "areas": [
            {
              "grid": 12,
              "allowAll": true,
              "hasConfig": false,
              "controls": [
                {
                  "value": {
                    "macroAlias": "GetAthlete",
                    "macroParamsDictionary": {}
                  },
                  "editor": {
                    "name": "Macro",
                    "alias": "macro",
                    "view": "macro",
                    "render": null,
                    "icon": "icon-settings-alt",
                    "config": {}
                  }
                }
              ]
            }
          ],
          "hasConfig": false,
          "id": "e9c8f50c-aead-a760-e9b1-3ad00b01f5c0"
        }
      ]
    }
  ]
}</Value>
    </bodyText>
    <keywords>
      <Value>[]</Value>
    </keywords>
    <pageTitle>
      <Value>Athlete</Value>
    </pageTitle>
    <seoMetaDescription />
    <umbracoNavihide>
      <Value>0</Value>
    </umbracoNavihide>
  </Properties>
</contentPage>